@import 'styles/variables.scss';
@import 'styles/mixins.scss';

th {
    background-color: #3D348B !important;
    color: #fff !important;
}

td {
    // background-color: #aaaaaa !important;
    background-color: #dddce4 !important;

}

.table {
    width: 70vw;

    &__action {
        display: flex;
        justify-content: center;
    }

    &__btn:hover {
        background-color: #0b5ed7 !important;
    }
}

.test {
    border-radius: 10px;
    z-index: 100000;
}