@import 'styles/variables.scss';
@import 'styles/mixins.scss';

th {
    background-color: #3D348B !important;
    color: #fff !important;
}

td {
    background-color: #efefef !important;
}

.table {
    width: 70vw;

    &__action {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__btn:hover {
        background-color: #0b5ed7 !important;
    }
}