@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.application__page {
    &-wrapper {
        padding-top: 90px;
        max-width: 1240px;
        margin: 0 auto;
    }

    &-title {
        font-size: 30px;
        margin-bottom: 5px;
        text-align: center;
    }

    &-table {
        margin: 0 auto;
        margin-top: 30px;
    }

    &-subtitle {
        font-size: 18px;
        max-width: 60%;
        text-align: center;
        margin: 0 auto;
        color: gray;
        margin-bottom: 50px;
    }

    &-text {
        font-size: 18px;
        margin-bottom: 15px;
    }

    &-input {
        height: 50px;
        max-width: 300px;
        border-color: #000;
        font-size: 18px;

        &-block {
            display: flex;
            gap: 20px;
        }

        &:focus {
            box-shadow: none;
        }
    }

    &-info {
        margin: 0 auto;
        margin-top: 50px;
        width: 70%;
        
        &-title {
            margin-bottom: 15px;
            font-size: 18px;
        }

        &-btns {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        &-btn {
            width: 130px;
            height: 50px;
            background-color: #2787F5;
        }
    }
}